@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <h2>Simple web app service</h2>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
